/*****   General Styling   *****/

body {
  background-image: url("../img/dw2.png");
}

li {
	list-style: none;
}


/*****   Word Styling   *****/

p {
  margin: 0 auto 2rem;
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 2.25rem;
  color: rgb(96, 17, 71);
  font-weight: 200;
  width: 90%;
}

h1 {
	text-align: center;
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  letter-spacing: 5px;
  color: rgb(96, 17, 71);
  margin-bottom: 0;
}

footer {
	margin: 50px;
}

footer p {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
  color: #015E6F;
  font-weight: 300;
  width: 100%;

}

footer p a, 
footer p a:active,
footer p a:visited  {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
  color: #015E6F;
  font-weight: 200;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}

footer p a:hover{
	  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
  color: #0F9E92;
  font-weight: 200;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
}


/*****   Effects Styling   *****/

.effect-layla figcaption {
	padding: 3em;
	cursor: auto;
	opacity: 1;
	color: white;
	word-spacing: -0.15em;
	font-weight: 300;
	margin: 0;
	letter-spacing: 2px;
	font-size: 98%;
	text-align:  center;
	margin-top: -200px;
}

.effect-layla figcaption::before,
.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
	cursor: auto;	
}

.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.effect-layla h2 {
	padding: 2%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.effect-layla p {
	padding: 2px;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

.effect-layla img,
.effect-layla h2 {
	-webkit-transform: translate3d(0,0px,0);
	transform: translate3d(0,0px,0);
}

.effect-layla img,
.effect-layla figcaption::before,
.effect-layla figcaption::after,
.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.effect-layla:hover a > img {
	opacity: .5;
}

.effect-layla:hover figcaption::before,
.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.effect-layla h2, 
.effect-layla p {
	opacity: 0;
}

.effect-layla:hover h2,
.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*****  Gallery Layout Formatting  *****/

.container {
  width: 90%;
  margin: 25px auto;
  max-width: 1100px;
}

.lb-album{
	max-width: 1000px;
	margin: 0 auto;
	font-family: 'Questrial', sans-serif;
	text-transform: uppercase;
}

.lb-album li{
	float: left;
	margin: 5px;
	position: relative;
}

.lb-album li > a,
.lb-album li > a img{
	display: block;
	max-width: 100%;
}

.lb-album li > a{
	width: 300px;
	height: 225px;
	text-decoration: none;
	position: relative;
	padding: 5px;
	background: rgba(96, 17, 71, 0.25);
	-webkit-box-shadow: 1px 1px 2px #000, 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 1px 1px 2px #000, 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 1px 1px 2px #000, 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}


/*****  Lightbox Image Hiding  *****/

.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99);  internet explorer 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}

.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgba(0,0,0, 0.8);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,.9) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,.9)), color-stop(100%,rgba(0,0,0,.9)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,.9) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,.9) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,.9) 100%);
	background: radial-gradient(center, ellipse cover, rgba(0,0,0,0.9) 0%,rgba(0,0,0,.9) 100%);
}


/*****  Lightbox Image Sizing  *****/

.lb-overlay img {
	height: 100%;
	margin: 20px;
	max-width: 100%;
}


/*****  Lightbox Close  *****/

.lb-overlay div p{
	text-align: left;
	float: left;
	padding: 0px 20px;
	width: 150px;
	height: 50px;
	font-size: 1rem;
	font-family: 'Questrial', sans-serif;
	color: #ffffff;
}


/*****  Lightbox Open  *****/

.lb-overlay a.lb-close{
	background: rgba(0,0,0,0);
	z-index: 1001;
	color: rgba(0,0,0,0);
	text-decoration: none;
	position: absolute;
	font-size: 9rem;
	margin-left: -1000px;
	width: 2000px;
	height: 2000px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}

.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}


/*****  Lightbox Fade In and Out  *****/

.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}

.lb-overlay:target a.lb-close,
.lb-overlay:target > div{
	opacity: 1;

	filter: alpha(opacity=99);  internet explorer */
   /* -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}

@-webkit-keyframes fadeInScale {
  0% { -webkit-transform: scale(0.6); opacity: 0; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@-moz-keyframes fadeInScale {
  0% { -moz-transform: scale(0.6); opacity: 0; }
  100% { -moz-transform: scale(1); opacity: 1; }
}

@-o-keyframes fadeInScale {
  0% { -o-transform: scale(0.6); opacity: 0; }
  100% { -o-transform: scale(1); opacity: 1; }
}

@-ms-keyframes fadeInScale {
  0% { -ms-transform: scale(0.6); opacity: 0; }
  100% { -ms-transform: scale(1); opacity: 1; }
}

@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

